<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=obj.name%>  </title>
</head>
<body>
    <h1><%= obj.name %> </h1>
    <div>
        <ol>
            <li>
                City: <%= obj.city %> 
            </li>
            <li>
                Email: <%= obj.email %>
            </li>
        </ol>
    </div>
    <div>
        <h3>Products:</h3>
        <ol>
        <% for(let i of obj.products){ %> 
        <li>
            <a href="/products/<%= i._id %>"><%=i.name%></a>
        </li>
        <% } %>
        </ol>
    </div>
    <a href="/farms">All Farms</a>
    <a href="/farms/<%= obj._id %>/products/new">Add New Product</a>
    <form action="/farms/<%= obj._id %>?_method=DELETE" method="post">
        <button type="submit">DELETE!</button>
    </form>
</body>
</html>